.Card-container{

  display: grid;
  grid-template-columns: repeat(4,1fr);
  margin: 20px 10px  10px 200px;


}
.Card-container > Card{
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  padding: 35px;
}