
$custom: 15;
$primary: #87c2f7;

$theme-colors: (
  "primary": #87c2f7,
  "danger": #ff4136
);


$box-shadow: 0 .5rem 1rem rgba($primary, .15) !default;
$border-color: $primary;

.px-2 {
  padding-right: ($custom * .5) !important;
  padding-left: ($custom * .5) !important;
}

.my-2 {
  margin-top: ($custom * .5) !important;
  margin-bottom: ($custom * .5) !important;
}

@import "../node_modules/bootstrap/scss/bootstrap";




