
$spacer: 2;
$primary: #87c2f7;

$theme-colors: (
  "primary": #87c2f7,
  "danger": #ff4136
);


$box-shadow: 0 .5rem 1rem rgba($primary, .15) !default;

.px-2 {
  padding-left: ($spacer * .5) !important;
  padding-right: ($spacer * .5) !important;
}

@import "../node_modules/bootstrap/scss/bootstrap";




